.card{

    position: fixed; /* Hoặc absolute */
    bottom: 5.5;
    right: 0;
    background-color: lightblue; /* Màu nền cho dễ nhìn */
    padding: 10px;
    border-radius: 5px;
}
.my-button {
    position: absolute; /* Hoặc fixed để cố định vị trí */
    bottom: 50px; /* Khoảng cách từ cạnh trên của trang */
    right: 100px; /* Khoảng cách từ cạnh trái của trang */
.my-button {
    position: absolute; /* Hoặc fixed để cố định vị trí */
    bottom: 50px; /* Khoảng cách từ cạnh trên của trang */
    right: 100px; /* Khoảng cách từ cạnh trái của trang */